// Contained within this file are all your resets, variables, mixins, and any utility classes.

/*** Variables  ***/

// $columns: 12;
:root {
  --color-primary: rgb(255, 255, 255);
  --color-primary-60: rgba(255, 255, 255, 0.6);
  --color-secondary: hsl(0, 0%, 60%);

  --bg-primary: rgb(22, 22, 22);
}
/*** Resets  ***/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: var(--color-primary);
  background-color: var(--bg-primary);
}
p {
  font-style: normal;
  font-weight: medium;
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.084rem;
  color: var(--color-secondary);
}
// .col {
//   padding: 1.6rem;
// }

// @for $width from 1 through $columns {
//   .col-#{$width} {
//     flex-basis: $width / $columns * 100%;
//   }
// }

/*** Media Queries  ***/
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

.ion-s {
  color: white;
  height: 50px;
  width: 50px;
  background: yellow;
  color: red;
  display: block;
}
