// Anything reusable such as buttons, navbars, cards etc.

///////////////////////////////////////
/// HEADER

header {
  height: 100vh;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;

    .logo {
      font-size: 24px;
      letter-spacing: 1px;
      text-decoration: none;
      color: var(--color-text);

      span {
        color: var(--color-primary);
      }

      .logo-bg {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100;
        transform-origin: 30% 50%;
        transform: scale(0);
        background-color: var(--color-primary);
      }
    }

    .main-nav {
      display: flex;
      list-style-type: none;
      justify-content: end;

      &__link {
        color: var(--color-text);
        font-weight: var(--font-weight-medium);
        font-size: 16px;
        text-decoration: none;
        display: inline-block;
        margin: 0 1.5rem;
        position: relative;
        text-transform: capitalize;

        &::after {
          content: "";
          position: absolute;
          width: 0rem;
          height: 0rem;
          transition-property: height, width;
          transition-duration: 0.2s;
          transition-timing-function: ease-out;
        }

        &:hover::after {
          content: "";
          position: absolute;
          bottom: -1.25rem;
          background: var(--color-tertiary);
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 100%;
          left: calc(50% - 0.25rem);
        }
      }
      &__link.active {
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 0.15rem;
          background: var(--color-tertiary);
          bottom: -1rem;
        }
        &:hover::after {
          content: none;
        }
      }
    }
  }

  .brands {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;

    &__logo {
      position: absolute;
      font-size: 2rem;
      color: var(--color-text);
      opacity: 0.2;
      transform: translatey(0px);

      @for $i from 1 through 16 {
        &:nth-child(#{$i}) {
          animation: float #{(random(7) / 2) + 5}s ease-in-out infinite #{random(5) / 2}s;
        }
      }
      &:nth-child(1) {
        top: 10%;
        left: 40%;
      }
      &:nth-child(2) {
        top: 20%;
        right: 15%;
      }
      &:nth-child(3) {
        top: 80%;
        right: 35%;
      }
      &:nth-child(4) {
        top: 90%;
        left: 35%;
      }
      &:nth-child(5) {
        top: 20%;
        left: 17%;
      }
      &:nth-child(6) {
        bottom: 12%;
        left: 8%;
      }
      &:nth-child(7) {
        top: 60%;
        right: 20%;
      }
      &:nth-child(8) {
        top: 30%;
        right: 34%;
      }
      &:nth-child(9) {
        top: 80%;
        right: 5%;
      }
      &:nth-child(10) {
        top: 17%;
        left: 56%;
      }
      &:nth-child(11) {
        top: 20%;
        left: 5%;
      }
      &:nth-child(12) {
        top: 60%;
        left: 51%;
      }
      &:nth-child(13) {
        top: 44%;
        right: 9%;
      }
      &:nth-child(14) {
        top: 62%;
        left: 37%;
      }
      &:nth-child(15) {
        top: 46%;
        left: 12%;
      }
      &:nth-child(16) {
        top: 65%;
        left: 21%;
      }
    }
  }

  .intro {
    font-family: "Chivo", "Montserrat", sans-serif;
    width: 75%;
    position: absolute;
    top: 40vh;

    &__tagline {
      padding-bottom: 2rem;

      h1 {
        letter-spacing: 0.2rem;
        font-size: 6rem;
        font-weight: var(--font-weight-bolder);
        line-height: 7rem;
        mix-blend-mode: difference;
        z-index: 10;

        .line {
          margin-bottom: 0.8px;
          height: 8rem;
          position: relative;
          overflow: hidden;

          span {
            position: absolute;
          }
        }
      }
    }

    &__description {
      font-size: 1.6rem;
      line-height: 2.4rem;
      width: 75%;
    }
  }

  .scroll {
    bottom: 1rem;
    box-sizing: border-box;
    color: var(--color-text);
    opacity: 0.8;
    height: 6rem;
    left: 50%;
    letter-spacing: 0.03;
    position: absolute;
    text-align: center;
    width: 5.4rem;
    z-index: 0;
    align-self: stretch;
    perspective-origin: 2.7rem 3rem;
    transform: matrix(1, 0, 0, 1, -27, 0);
    transform-origin: 2.7rem 3rem;
    border: 0px none var(--color-text);
    margin-top: 3rem;
    outline: var(--color-text) none 0px;
    &__animated {
      box-sizing: border-box;
      color: var(--color-text);
      height: 3.8rem;
      letter-spacing: 0.3rem;
      text-align: center;
      width: 2.4rem;
      perspective-origin: 1.2rem 1.9rem;
      transform-origin: 1.2rem 1.9rem;
      border: 0.2rem solid var(--color-text);
      border-radius: 1.2rem;
      margin: 0rem 1.50938rem 0.6rem;
      outline: var(--color-text) none 0rem;
      &-inner {
        box-sizing: border-box;
        color: var(--color-text);
        display: block;
        height: 0.5rem;
        letter-spacing: 0.3rem;
        text-align: center;
        width: 0.2rem;
        z-index: 0;
        perspective-origin: 0.1rem 0.25rem;
        transform: matrix(1, 0, 0, 1, 0, 3.67524);
        transform-origin: 0.1rem 0.25rem;
        animation: scrollIcon 1s ease 0s infinite alternate none running;
        background: var(--color-text) none repeat scroll 0% 0% / auto padding-box border-box;
        border: 0rem none var(--color-text);
        border-radius: 50%;
        margin: 0.8rem 0.9rem;
        outline: var(--color-text) none 0rem;
      }
    }
    &__touch.small-only {
      box-sizing: border-box;
      color: var(--color-text);
      display: none;
      height: 3.8rem;
      letter-spacing: 0.3rem;
      text-align: center;
      width: 3.8rem;
      perspective-origin: 50% 50%;
      transform-origin: 50% 50%;
      border: 0rem none var(--color-text);
      font: normal normal normal normal 1.1rem / 1.1rem brandon-grotesque, sans-serif;
      margin: 0rem 0rem 0.6rem;
      outline: var(--color-text) none 0rem;
      overflow: hidden;
    }
  }
}

.container {
  max-width: 96rem;
  margin: 0 auto;
}

///////////////////////////////////////
/// Feature
.section {
  margin-top: 6rem;

  h3 {
    font-weight: var(--font-weight-medium);
    letter-spacing: 0.2rem;
    padding-bottom: 2.6rem;
    font-size: 1.6rem;
    color: var(--color-secondary);
    text-transform: uppercase;
    font-weight: bold;
  }

  h4 {
    color: var(--color-gray-1000);
    font-size: 2.2rem;
  }
  .featured {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__image {
      object-fit: cover;
      height: 40vh;
      border-radius: 0.8rem;
    }

    &__content {
      margin-left: 4rem;
    }
  }

  &__link {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--color-text);
    position: relative;
    font-weight: var(--font-weight-bolder);
    display: flex;

    &:after {
      @include link-arrows(1.6rem);
    }
    &:hover::after {
      opacity: 1;
    }
  }
}

///////////////////////////////////////
/// Favorites
.favorites {
  overflow: hidden;
}
.cards {
  display: flex;
  width: 100%;
  overflow: scroll;
  overscroll-behavior-x: contain;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0 !important;
    display: none;
  }

  > * + * {
    margin-left: 2rem;
  }

  &::after {
    content: "";
    display: block;
    flex: 0 0 2rem;
  }
  .card {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    background: var(--color-subtle-floating);
    padding: 1.6rem;
    border-radius: 0.8rem;
    width: 100%;
    max-width: 25rem;
    overflow: hidden;
    // transition: border 0.5s;
    cursor: pointer;
    margin-top: 0;

    &:hover .card__content .card__link::after {
      opacity: 1;
    }
    // &:hover .card__content .card__title {
    //   color: var(--color-primary);
    // }
    a::after {
      content: none;
    }
    &__tag {
      font-family: var(--font-family-mono);
      font-size: 1.2rem;
      line-height: 1.2;
      letter-spacing: 0.14rem;
      color: var(--color-gray-600);
      display: flex;
      align-items: center;

      &::before {
        display: inline-block;
        content: "";
        border-radius: 50%;
        height: 0.7rem;
        width: 0.7rem;
        background-color: #f0db4f;
        margin-right: 1rem;
      }
      &.teal::before {
        background-color: #61dafb;
      }
    }

    &__image {
      width: 100%;
      object-fit: cover;
      margin: 1rem auto;
      border-radius: 0.8rem;
    }

    &__content {
      display: flex;
      flex-direction: column;
      height: 100%;

      .card__title {
        letter-spacing: 0.144rem;
        font-weight: bold;
        font-size: 1.8rem;
        color: var(--color-gray-1000);
        transition: all 0.2s;
      }

      .card__description {
        font-size: 1.2rem;
        margin-bottom: 1.6rem;
      }

      .card__link {
        display: inline-block;
        font-size: 1.2rem;
        line-height: 1.2;
        margin-top: auto;
        margin-right: auto;
        display: flex;
        font-weight: var(--font-weight-bolder);

        &:after {
          @include link-arrows(1.2rem);
        }
      }
    }
  }
}

///////////////////////////////////////
/// Ribbon

.ribbon {
  background-color: white;
  display: flex;
  align-items: center;
  overflow: hidden;

  &__text {
    font-size: 6rem;
    letter-spacing: 1rem;
    font-weight: 600;
    color: #161616;
    max-width: 1500px;
    overflow-x: scroll;
    white-space: nowrap;
    text-transform: uppercase;
    overflow: visible;
  }
}

///////////////////////////////////////
/// design

.design {
  display: flex;
  flex-direction: column;

  &__article {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__article:not(:last-of-type) {
    margin-bottom: 4rem;
  }
  &__image {
    width: 250px;
    border-radius: 0.8rem;
  }
  &__copy {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
  }
}

///////////////////////////////////////
/// Photography
.photography {
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    font-size: 6rem;
    letter-spacing: 1rem;
    font-weight: 600;
    color: var(--color-text);
    opacity: 0.3;
    text-transform: uppercase;
  }
}
.grid {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 4rem 0;
  overflow: hidden;

  &__container {
    top: 0;
    left: 0;
    z-index: 1;
    width: 70vw;
    height: 60vw;
    margin: 0 calc(100vw / 20 * 3);
    position: absolute;
  }

  &__block {
    opacity: 0;
    background-size: cover;
    // background-color: darkgray;
    display: block;
    position: absolute;
  }

  &__layer {
    top: 15px;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    will-change: transform;
    transform-origin: 44.951% 50%;

    &:nth-child(1) {
      .grid__block {
        top: 5vw;
        left: 0vw;
        width: 25vw;
        height: 10vw;
        z-index: 2;
        background-image: url(https://picsum.photos/1280/1280?random=4);
        opacity: 1;
        visibility: inherit;
        object-fit: cover;
      }
    }
    &:nth-child(2) {
      .grid__block {
        top: 4vw;
        left: 32.5vw;
        width: 15vw;
        height: 15vw;
        background-image: url(https://picsum.photos/1280/1280?random=4);
        opacity: 1;
        visibility: inherit;
        object-fit: cover;
      }
    }
    &:nth-child(3) {
      .grid__block {
        left: 0;
        top: 25vw;
        width: 15vw;
        height: 15vw;
        background-image: url(https://picsum.photos/1280/1280?random=4);
        opacity: 1;
        visibility: inherit;
        object-fit: cover;
      }
    }
    &:nth-child(4) {
      .grid__block {
        top: 20vw;
        left: 17.5vw;
        width: 30vw;
        height: 30vw;
        background-image: url(https://picsum.photos/1280/1280?random=4);
        opacity: 1;
        visibility: inherit;
        object-fit: cover;
      }
    }
    &:nth-child(5) {
      z-index: 1;

      .grid__block {
        top: 10vw;
        right: 3vw;
        width: 15vw;
        height: 12vw;
        background-image: url(https://picsum.photos/1280/1280?random=4);
        opacity: 1;
        visibility: inherit;
        object-fit: cover;
      }
    }
    &:nth-child(6) {
      .grid__block {
        left: 50vw;
        top: 27.5vw;
        width: 20vw;
        height: 20vw;
        background-image: url(https://picsum.photos/1280/1280?random=4);
        opacity: 1;
        visibility: inherit;
        object-fit: cover;
      }
    }
    &:nth-child(7) {
      .grid__block {
        left: 10vw;
        top: 42.5vw;
        width: 5vw;
        height: 5vw;
        background-image: url(https://picsum.photos/1280/1280?random=4);
        opacity: 1;
        visibility: inherit;
        object-fit: cover;
      }
    }
    &:nth-child(8) {
      .grid__block {
        bottom: 0vw;
        left: 42.5vw;
        width: 5vw;
        height: 5vw;
        background-image: url(https://picsum.photos/1280/1280?random=4);
        opacity: 1;
        visibility: inherit;
        object-fit: cover;
      }
    }
    &:nth-child(9) {
      .grid__block {
        bottom: 0;
        left: 50vw;
        width: 10vw;
        height: 10vw;
        background-image: url(https://picsum.photos/1280/1280?random=4);
        opacity: 1;
        visibility: inherit;
        object-fit: cover;
      }
    }
  }
}
.photography__copy {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
///////////////////////////////////////
/// Footer

.footer {
  font-size: 6rem;
  color: var(--color-text);
  font-weight: var(--font-weight-bolder);
  padding-top: 10rem;

  section {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  a {
    text-decoration: none;
    position: relative;
    margin: 0 1.25rem;
    color: inherit;
    cursor: pointer;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      bottom: -1rem;
      border-bottom: 1px dashed var(--color-text);
      transition: opacity 0.2s ease-out;
      opacity: 1;
    }

    &:hover::after {
      opacity: 0;
    }
  }

  &__muted {
    color: var(--color-gray-700);
  }
}

@media only screen and (max-width: 580px) {
  .grid {
    margin: 0;
    width: 100vw;
    height: 89.444vw;

    &__layer {
      &:nth-child(1) {
        .grid__block {
          top: 11.111vw;
          left: 23.889vw;
          width: 15vw;
          height: 15vw;
        }
      }
      &:nth-child(2) {
        .grid__block {
          top: 0;
          left: 43.333vw;
          width: 26.389vw;
          height: 26.389vw;
        }
      }
      &:nth-child(3) {
        .grid__block {
          top: 30.278vw;
          left: 0;
          width: 26.389vw;
          height: 26.389vw;
        }
      }
      &:nth-child(4) {
        .grid__block {
          top: 30.278vw;
          left: 30.278vw;
          width: 39.444vw;
          height: 39.444vw;
        }
      }
      &:nth-child(5) {
        .grid__block {
          top: 23.889vw;
          left: 73.889vw;
          width: 15.278vw;
          height: 15.278vw;
        }
        svg {
          width: 4.722vw;
        }
      }
      &:nth-child(6) {
        .grid__block {
          top: 43.889vw;
          left: 73.889vw;
          width: 26.389vw;
          height: 26.389vw;
        }
      }
      &:nth-child(7) {
        .grid__block {
          display: none;
        }
      }
      &:nth-child(8) {
        .grid__block {
          display: none;
        }
      }
      &:nth-child(9) {
        .grid__block {
          top: 73.889vw;
          left: 58.889vw;
          width: 15.278vw;
          height: 15.278vw;
        }
      }
    }
  }
}

@keyframes scrollIcon {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0.6rem);
    transform: translateY(0.6rem);
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-30px);
  }
  100% {
    transform: translatey(0px);
  }
}
