// Anything reusable such as buttons, navbars, cards etc.

///////////////////////////////////////
/// HEADER

header {
  height: 100vh;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;

    .logo {
      font-weight: 600;
    }

    .main-nav {
      display: flex;
      list-style-type: none;
      justify-content: end;

      &__link {
        text-decoration: none;
        display: inline-block;
        color: var(--color-primary);
        padding: 0 1.5rem;
        color: var(--color-primary-60);
        position: relative;
        transition: all 0.5s;

        &:active,
        &:hover {
          color: var(--color-primary);
        }
        &:active::before {
          content: "";
          position: absolute;
          bottom: -0.6rem;
          background: var(--color-primary);
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 100%;
          left: calc(50% - 0.25rem);
        }
      }
      &__link.active {
        color: var(--color-primary);

        &::before {
          content: "";
          position: absolute;
          bottom: -0.6rem;
          background: var(--color-primary);
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 100%;
          left: calc(50% - 0.25rem);
        }
      }
    }
  }
  .intro {
    font-family: "Chivo", "Montserrat", sans-serif;
    width: 75%;
    padding-top: 15rem;

    &__name {
      font-weight: 300;
      letter-spacing: 0.216rem;
      font-size: 2.4rem;
      line-height: 4rem;
      padding-bottom: 1rem;
    }

    &__tagline {
      padding-bottom: 2rem;

      h1 {
        font-weight: 500;
        letter-spacing: 0.2rem;
        font-size: 6rem;
        line-height: 6rem;
      }
    }

    &__description {
      color: var(--color-secondary);
      letter-spacing: 0.058rem;
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
  }

  .scroll {
    bottom: 1rem;
    box-sizing: border-box;
    color: var(--color-primary);
    height: 6rem;
    left: 50%;
    letter-spacing: 0.03;
    position: absolute;
    text-align: center;
    width: 5.4rem;
    z-index: 0;
    align-self: stretch;
    perspective-origin: 2.7rem 3rem;
    transform: matrix(1, 0, 0, 1, -27, 0);
    transform-origin: 2.7rem 3rem;
    border: 0px none var(--color-primary);
    margin-top: 3rem;
    outline: var(--color-primary) none 0px;
    &__animated {
      box-sizing: border-box;
      color: var(--color-primary);
      height: 3.8rem;
      letter-spacing: 0.3rem;
      text-align: center;
      width: 2.4rem;
      perspective-origin: 1.2rem 1.9rem;
      transform-origin: 1.2rem 1.9rem;
      border: 0.2rem solid var(--color-primary);
      border-radius: 1.2rem;
      margin: 0rem 1.50938rem 0.6rem;
      outline: var(--color-primary) none 0rem;
      &-inner {
        box-sizing: border-box;
        color: var(--color-primary);
        display: block;
        height: 0.5rem;
        letter-spacing: 0.3rem;
        text-align: center;
        width: 0.2rem;
        z-index: 0;
        perspective-origin: 0.1rem 0.25rem;
        transform: matrix(1, 0, 0, 1, 0, 3.67524);
        transform-origin: 0.1rem 0.25rem;
        animation: scrollIcon 1s ease 0s infinite alternate none running;
        background: var(--color-primary) none repeat scroll 0% 0% / auto padding-box border-box;
        border: 0rem none var(--color-primary);
        border-radius: 50%;
        margin: 0.8rem 0.9rem;
        outline: var(--color-primary) none 0rem;
      }
    }
    &__touch.small-only {
      box-sizing: border-box;
      color: var(--color-primary);
      display: none;
      height: 3.8rem;
      letter-spacing: 0.3rem;
      text-align: center;
      width: 3.8rem;
      perspective-origin: 50% 50%;
      transform-origin: 50% 50%;
      border: 0rem none var(--color-primary);
      font: normal normal normal normal 1.1rem / 1.1rem brandon-grotesque, sans-serif;
      margin: 0rem 0rem 0.6rem;
      outline: var(--color-primary) none 0rem;
      overflow: hidden;
    }
  }
}

.container {
  max-width: 96rem;
  margin: 0 auto;
}

///////////////////////////////////////
/// Feature
.section {
  padding: 6rem 0;

  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 3rem;
    letter-spacing: 0.36rem;
    padding-bottom: 3.6rem;
  }

  h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 4rem;
    letter-spacing: 0.192rem;
    padding-bottom: 1.6rem;
  }
  .featured {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__image {
      object-fit: cover;
      height: 40vh;
    }

    &__content {
      padding-left: 10rem;
    }

    &__description {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  &__link {
    font-style: normal;
    font-size: 1.4rem;
    line-height: 2.4rem;
    letter-spacing: 0.12rem;
    text-decoration: none;
    color: var(--color-primary);
    position: relative;
    padding: 0.5rem;
    transition: transform 1s;
    transition: all 0.2s;

    &::after {
      content: "\ea7e";
      @include font-iconmoon;
      margin-left: 1rem;
    }

    &:hover {
      text-decoration: none;
      font-weight: 500;
      background-color: rgba(255, 255, 255, 0.8);
      color: #161616;
    }
  }
}

///////////////////////////////////////
/// Favorites
.favorites {
  overflow: hidden;
}
.cards {
  display: flex;
  width: 100%;
  padding: 2rem;
  overflow: scroll;
  overscroll-behavior-x: contain;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0 !important;
    display: none;
  }

  > * + * {
    margin-left: 2rem;
  }

  &::after {
    content: "";
    display: block;
    flex: 0 0 2rem;
  }
  .card {
    flex: 1 0 auto;
    width: 100%;
    max-width: 250px;
    background-color: #212022;
    border-radius: 0.15rem;
    overflow: hidden;
    border-radius: 1rem;
    padding: 1.6rem;
    // transform: translateX(400px);

    &__tag {
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 2.4rem;
      letter-spacing: 0.24rem;
      color: #949495;
      display: flex;
      align-items: center;

      &::before {
        display: inline-block;
        content: "";
        border-radius: 50%;
        height: 0.7rem;
        width: 0.7rem;
        background-color: #f0db4f;
        margin-right: 1rem;
      }
      &.teal::before {
        background-color: #61dafb;
      }
    }

    &__image {
      width: 100%;
      object-fit: cover;
      margin: 1rem auto;
    }

    &__content {
      padding-bottom: 2rem;
      display: flex;
      flex-direction: column;
    }

    &__title {
      font-size: 1.6rem;
      line-height: 2.9rem;
      letter-spacing: 0.144rem;
      font-weight: 500;
    }

    &__description {
      font-size: 1.2rem;
      line-height: 2rem;
    }

    &__link {
      display: inline-block;
      align-self: center;
      font-size: 1.2rem;
      line-height: 2rem;
      letter-spacing: 0.072rem;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      margin-top: 2rem;
    }
  }
}

@keyframes scrollIcon {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0.6rem);
    transform: translateY(0.6rem);
  }
}
