@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");

@font-face {
  font-family: "icomoon";
  src: url("/src/assets/fonts/icomoon.eot");
  src: url("/src/assets/fonts/icomoon.eot") format("embedded-opentype"),
    url("/src/assets/fonts/icomoon.ttf") format("truetype"), url("/src/assets/fonts/icomoon.woff") format("woff"),
    url("/src/assets/fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 3.2rem;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-chevron-down:before {
  content: "\e900";
}
.icon-chevron-left:before {
  content: "\e901";
}
.icon-chevron-right:before {
  content: "\e902";
}
.icon-chevron-small-down:before {
  content: "\e903";
}
.icon-chevron-small-left:before {
  content: "\e904";
}
.icon-chevron-small-right:before {
  content: "\e905";
}
.icon-chevron-small-up:before {
  content: "\e906";
}
.icon-chevron-thin-down:before {
  content: "\e907";
}
.icon-chevron-thin-left:before {
  content: "\e908";
}
.icon-chevron-thin-right:before {
  content: "\e909";
}
.icon-chevron-thin-up:before {
  content: "\e90a";
}
.icon-chevron-up:before {
  content: "\e90b";
}
.icon-chevron-with-circle-down:before {
  content: "\e90c";
}
.icon-chevron-with-circle-left:before {
  content: "\e90d";
}
.icon-chevron-with-circle-right:before {
  content: "\e90e";
}
.icon-chevron-with-circle-up:before {
  content: "\e90f";
}
.icon-dot-single:before {
  content: "\e910";
}
.icon-dots-three-horizontal:before {
  content: "\e911";
}
.icon-dots-three-vertical:before {
  content: "\e912";
}
.icon-briefcase:before {
  content: "\e913";
}
.icon-camera:before {
  content: "\e914";
}
.icon-code:before {
  content: "\e915";
}
.icon-export:before {
  content: "\e916";
}
.icon-eye:before {
  content: "\e917";
}
.icon-forward:before {
  content: "\e918";
}
.icon-gauge:before {
  content: "\e919";
}
.icon-graduation-cap:before {
  content: "\e91a";
}
.icon-grid:before {
  content: "\e91b";
}
.icon-image:before {
  content: "\e91c";
}
.icon-images:before {
  content: "\e91d";
}
.icon-list:before {
  content: "\e91e";
}
.icon-paper-plane:before {
  content: "\e91f";
}
.icon-quote:before {
  content: "\e920";
}
.icon-suitcase:before {
  content: "\e921";
}
.icon-vinyl:before {
  content: "\e922";
}
.icon-picasa:before {
  content: "\e923";
}
.icon-github:before {
  content: "\e939";
}
.icon-file-iso:before {
  content: "\e924";
}
.icon-stopwatch:before {
  content: "\e925";
}
.icon-time:before {
  content: "\e925";
}
.icon-speed:before {
  content: "\e925";
}
.icon-meter:before {
  content: "\e925";
}
.icon-chronometer:before {
  content: "\e925";
}
.icon-aperture:before {
  content: "\e926";
}
.icon-new-tab:before {
  content: "\ea7e";
}
.icon-500px:before {
  content: "\e927";
}
.icon-behance:before {
  content: "\e928";
}
.icon-css3:before {
  content: "\e929";
}
.icon-dribbble:before {
  content: "\e92a";
}
.icon-figma:before {
  content: "\e92b";
}
.icon-flickr:before {
  content: "\e92c";
}
.icon-googlechrome:before {
  content: "\e92d";
}
.icon-html5:before {
  content: "\e92e";
}
.icon-internetexplorer:before {
  content: "\e92f";
}
.icon-javascript:before {
  content: "\e930";
}
.icon-mozillafirefox:before {
  content: "\e931";
}
.icon-react:before {
  content: "\e932";
}
.icon-safari:before {
  content: "\e933";
}
.icon-sass:before {
  content: "\e934";
}
.icon-sketch:before {
  content: "\e935";
}
.icon-stackoverflow:before {
  content: "\e936";
}
.icon-unsplash:before {
  content: "\e937";
}
.icon-javascript1:before {
  content: "\e938";
}
