@mixin font-iconmoon {
  font-family: "icomoon";
  src: url("/src/assets/fonts/icomoon.eot");
  src: url("/src/assets/fonts/icomoon.eot") format("embedded-opentype"),
    url("/src/assets/fonts/icomoon.ttf") format("truetype"), url("/src/assets/fonts/icomoon.woff") format("woff"),
    url("/src/assets/fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: inline-block;
}

@mixin link-arrows($fontSize) {
  @include font-iconmoon;
  content: "\e902\e902\e902";
  white-space: pre;
  color: var(--color-primary);
  font-size: $fontSize;
  margin-left: 0.5rem;
  opacity: 0;
  transition: all 0.5s;
  letter-spacing: -0.7rem;
}
