.container 
  footer.footer
    section
      span.footer__muted Say hello
      a.footer__email swapnilshah.me@gmail.com
    section
      span.footer__muted Let’s connect
      a(href="#") LinkedIn
      a(href="#") Instagram
      a(href="#") Facebook
      a(href="#") Github


