//- Site informations
- var path = './'

//- Page informations
- var title = title || 'Swapnil Shah'
- var metaDesc = metaDesc || 'My personal portoflio'

//- Templates classes
- var template = template || "t-base"