doctype html
block config
  - var activeMenu = '';
  - var title = 'Swapnil Shah';

html(lang="en")
  head
    include  /partials/head
  body
    .container
      header
        include /partials/nav
        .brands
          each brand in data.brands
            span.brands__logo(class="icon-"+ brand)
        .intro
          .intro__tagline 
            h1
              .line
                span UI Developer
          .intro__description 
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .scroll 
          .scroll__animated
            span.scroll__animated-inner
            svg.scroll__touch.small-only
              use(xlink:href='#scroll__touch')
      main
        section.section
          h3 Featured Project
          article.featured
            aside
              img.featured__image(src="./img/preoject_fetaured.png", alt="")
            aside.featured__content
              h4 The COVID Tracker
              p As the virus that causes COVID-19 spreads worldwide, this dashboard seeks to offer a one-stop snapshot of confirmed cases globally, with country specific data, news and advisories.
              div
                a.section__link(href="#", target="_blank") View Website
        section.section
          h3 Few Favorites
          article.favorites
            .cards
              mixin cards(tag, imageSrc,imageAlt, title, description, href)
                a.card(href="http://google.com", target="_blank")
                  .card__tag(class=(tag.toLowerCase()==='react' && 'teal'))=tag
                  img.card__image(src=imageSrc, alt=imageSrc)
                  .card__content
                    h5.card__title=title
                    p.card__description=description
                    div.card__link Demo
              each favorite in data.favorites
                +cards(favorite.tag, favorite.imageSrc,favorite.imageAlt, favorite.title, favorite.description, favorite.href)

    section.section
      .ribbon
        .ribbon__text 
          | SOMETIMES I 
          span(style="color: #444E86 ") D
          span(style="color: #955196") E
          span(style="color: #003F5C") S
          span(style="color: #DD5182") I
          span(style="color: #FF6E54") G
          span(style="color: #FFA600") N 
          | TOO

    .container
      main
        section.section.design
          article.design__article
            aside
              img.design__image(src="./img/preoject_fetaured.png", alt="")
            aside.design__copy 
              h4 Photography App
              p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae.
              a.section__link(href="#", target="_blank") View Case Study


          article.design__article
            aside
              img.design__image(src="./img/preoject_fetaured.png", alt="")
            aside.design__copy 
              h4 Photography App
              p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae.
              a.section__link(href="#", target="_blank") View Website

    section.section
      .ribbon
        .ribbon__text A Particle more about me

    .container
      main
        section.section
          .grid
            .grid__container
              .grid__layer
                .grid__block
                  h4 Photography App
                  p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae.
                  a.section__link(href="#", target="_blank") View Website
              .grid__layer
                .grid__block
              .grid__layer
                .grid__block
              .grid__layer.centerPiece
                .grid__block.centerBlock
              .grid__layer
                .grid__block
              .grid__layer
                .grid__block
              .grid__layer
                .grid__block
              .grid__layer
                .grid__block
              .grid__layer
                .grid__block

    include /partials/footer
    script(src= "https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js")
    script(src= "https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js")
    script(src= "./scripts/main.js")


          
