doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./sass/main.scss")
    title Swapnil Shah
  body
    .container
      header
        nav.navbar
          h1.logo Swa<span>/></span>nil Shah
          ul.main-nav
            li
              a.active.main-nav__link(href="") Photography
            li
              a.main-nav__link(href="") Timeline
            li
              a.main-nav__link(href="") About
        .intro
          .intro__tagline 
            h1 UI Developer
            h1 Photographer
          .intro__description 
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .scroll 
          .scroll__animated
            span.scroll__animated-inner
            svg.scroll__touch.small-only
              use(xlink:href='#scroll__touch')
      main
        section.section
          h3 Featured Project
          article.featured
            aside
              img.featured__image(src="./img/preoject_fetaured.png", alt="")
            aside.featured__content
              h4 The COVID Tracker
              p.featured__description As the virus that causes COVID-19 spreads worldwide, this dashboard seeks to offer a one-stop snapshot of confirmed cases globally, with country specific data, news and advisories.
              div
                a.section__link(href="#", target="_blank") View Website
        section.section
          h3 Few Favorites
          article.favorites
            .cards
              mixin cards(tag, imageSrc,imageAlt, title, description, href)
                a.card(href="http://google.com", target="_blank")
                  .card__tag(class=(tag.toLowerCase()==='react' && 'teal'))=tag
                  img.card__image(src=imageSrc, alt=imageSrc)
                  .card__content
                    h5.card__title=title
                    p.card__description=description
                    div.card__link Demo
              each favorite in data.favorites
                +cards(favorite.tag, favorite.imageSrc,favorite.imageAlt, favorite.title, favorite.description, favorite.href)

    section.section
      .ribbon
        .ribbon__text 
          | SOMETIMES I 
          span(style="color: #444E86 ") D
          span(style="color: #955196") E
          span(style="color: #003F5C") S
          span(style="color: #DD5182") I
          span(style="color: #FF6E54") G
          span(style="color: #FFA600") N 
          | TOO

    .container
      main
        section.section.design
          article.design__article
            aside
              img.design__image(src="./img/preoject_fetaured.png", alt="")
            aside.design__copy 
              h4.design__title Photography App
              p.design__description Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae.
              a.section__link(href="#", target="_blank") View Case Study


          article.design__article
            aside
              img.design__image(src="./img/preoject_fetaured.png", alt="")
            aside.design__copy 
              h4 Photography App
              p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae.
              a.section__link(href="#", target="_blank") View Website

    section.section
      .ribbon
        .ribbon__text A Particle more about me

    .container
      main
        section.section
          .grid
            .grid__container
              .grid__layer
                .grid__block
                  h4 Photography App
                  p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae.
                  a.section__link(href="#", target="_blank") View Website
              .grid__layer
                .grid__block
              .grid__layer
                .grid__block
              .grid__layer.centerPiece
                .grid__block.centerBlock
              .grid__layer
                .grid__block
              .grid__layer
                .grid__block
              .grid__layer
                .grid__block
              .grid__layer
                .grid__block
              .grid__layer
                .grid__block

          
